*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(15, 161, 71);
}

.treeModel{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.tree-cell{
    border: 2px solid rgb(15, 161, 71);
    width: 100px;
    height: 50px;
    padding: 13px;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
}

.tree-cell-content{
    font-size: 18px;
}

.action-tree-modal{
    position: absolute;
    z-index: 999;
    background-color: white;
}

.action-tree-modal-container{
    width: 350px;
    height: 80px;
    border: 4px solid rgb(15, 161, 71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-tree-modal button{
    width: 75px;
    height: 30px;
    border: 2px solid rgb(15, 161, 71);
    margin: 5px 5px;
    background-color: white;
}

.action-tree-modal button:hover{
    border: 2px solid rgb(23, 207, 94);
    color:rgb(23, 207, 94);
    background-color: rgb(243, 243, 243);
}

.button-container{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.tree-cell-title{
    width:100%;
    text-align: center;
    margin-top:10px;
    font-weight: bold; 
}

.action-tree-modal .input-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.action-tree-modal input{
    width:200px;
    border: 2px solid rgb(23, 207, 94);
    padding: 1px;
}

.tree-cell-block{
    display: flex;
    align-items:flex-start;
}

.parent-tree-cell-block{
    display: flex;
    justify-content:center;
}

.tree-cell-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}